# Unit test / coverage reports
.coverage
.coverage.*
.cache
__pycache__
cover/
.pytest_cache

# Environments
.env
venv

# Terraform
*.tfvars
*.terraform
.terraform.lock.hcl
terraform.*

# Big files
*.csv
*.ipynb

# Data File
*.html
*.png
*.pdf

# MacOS related
.DS_Store
